@model FileManager.Models.Files

@using MvcContrib

@{ var iconName = Url.Resource("Content.file.jpg");
    if(Model.name.EndsWith("jpg") || Model.name.EndsWith("jpeg") || Model.name.EndsWith("png"))
    {
        iconName = Url.Resource("Content.image.jpg");
    }
}

<div class="FileIcon" >
    <img src="@iconName" alt="" />
    <div class="name">@Model.name</div>
    @Html.Hidden("ParentFolder",Model.folder)
</div>
