@using FileManager.Models;
@model FolderContent

<div>
   
        @foreach (var folder in Model.Folders)
        {
            <div class="FoldersIcons" ondblclick="OpenFolder('@folder.fullName')">@Html.Partial("FolderIcon",folder)</div>
            

        }

        @foreach (var file in Model.Files)
        {
            <div class="FoldersIcons">@Html.Partial("FileIcon",file)</div>
           

        }

    
    
</div>