@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .FileManagerDirectoryTree {

        width: 200px;
        float: left;
    }

    .FolderView {
        
        width: 700px;
        float: left;

    }

    .FoldersIcons {
        
        width: 100px;
        float: left;

    }

    .FolderIcon {

        text-align: center;
        font-size: small;     

    }

    .jstree-default.jstree-focused {
        background: #FFFFFF !important; 
    }

    #MainTree {

        height: 100px;        

    }

    #dirName {

        width: 650px;        

    }

    #FileUpload {
        display: inline-block;
        margin-left: 5px;
    }

    .ArrowButtons {
        display: inline-block;
        float: left;

    }

    #FileManagerbuttons {

        display: inline-block;        

    }
    
    
</style>

<script type="text/javascript" src="@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/aspnet_client/jQuery/jquery-1.7.2.min.js")"></script>
    



<h2>Index</h2>

La hora es : @DateTime.Now 
<br/><br/>

<div id="DirectoryTree" class="FileManagerDirectoryTree">
    @Html.Partial("Module")
</div>
<div id="FileManagerbuttons">
    
    <input type="button" onclick="goBack()" value="back" class="ArrowButtons"/>
    <input type="button" onclick="goNext()" value="next" class="ArrowButtons" />
    <input type="file" value="Upload file" id="FileUpload" />
    <input type="text" readonly="readonly" id="dirName"/>
    <input type="hidden" id="dirNameHidden" />

</div>
<div id="FilesTreeFiles" class="FolderView">
    

</div>
