<div id="DirectoryTree" class="FileManagerDirectoryTree">
    @Html.Partial("TreeModule")
</div>
<div id="FileManagerbuttons">
    
    <input type="button" onclick="goBack()" value="back" class="ArrowButtons"/>
    <input type="button" onclick="goNext()" value="next" class="ArrowButtons" />
    <input type="button" onclick="OpenUploadifyDialog()" value="Upload" class="ArrowButtons" />
    <input type="text" readonly="readonly" id="dirName"/>
    <input type="hidden" id="dirNameHidden" />

</div>
<div id="FilesTreeFiles" class="FolderView">
    

</div>

<div id="uploadifyDialog" title="Upload Files">
    <input type="file" value="Upload file" id="FileUpload" />
</div>

<div id="NewFolderDialog">
    <span>Folder Name: </span>   
    <input type="text" id="NewFolderInputId"/>
    <input type="button" value="create" onclick="CreateNewFolder()"/>    

</div>

<div id="RenameFileDialog">
    <span>File Name: </span>
    <input type="text" id="RenameFileInputId"/>
    <input type="button" value="Rename" onclick="RenameFile()"/>    

</div>

<div id="RenameFolderDialog">
     <span>Folder Name: </span> 
    <input type="text" id="RenameFolderInputId"/>
    <input type="button" value="Rename" onclick="RenameFolder()"/>    

</div>


<script>
    
    $(function () {
        $("#NewFolderDialog").dialog({
            autoOpen: false,
            title: 'Create Folder',
            modal: true
        });
    });
    
    $(function () {
        $("#RenameFileDialog").dialog({
            autoOpen: false,
            title: 'Rename File',
            modal: true
        });
    });
    
    $(function () {
        $("#uploadifyDialog").dialog({
            autoOpen: false,
            modal: true
        });
    });
    
    $(function () {
        $("#RenameFolderDialog").dialog({
            autoOpen: false,
            title: 'Rename Directory',
            modal: true
        });
    });

    function OpenNewFolderDialog() {
        $("#NewFolderDialog").dialog("open");
        $("#NewFolderInputId").val('');
    }
    
    function CloseNewFolderDialog() {
        $("#NewFolderDialog").dialog("close");
    }
    
    function OpenRenameFileDialog() {
        $("#RenameFileDialog").dialog("open");
        $("#RenameFileInputId").val('');
    }

    function CloseRenameFileDialog() {
        $("#RenameFileDialog").dialog("close");
    }
    
    function OpenRenameFolderDialog() {
        $("#RenameFolderDialog").dialog("open");
        $("#RenameFolderInputId").val('');
    }

    function CloseRenameFolderDialog() {
        $("#RenameFolderDialog").dialog("close");
    }
    
    function OpenUploadifyDialog() {
        $("#uploadifyDialog").dialog("open");
    }
    


    function CreateNewFolder() {
        var name = $('#NewFolderInputId').val();
        if (name != '') {
            CreateFolder(name);
        }
        else {
            
        }
    }

</script>